<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getBirthYear()}">user info</p>
<p th:if="${books == null || books.isEmpty()}">Человек не взял пока не одной книги</p>
<div th:if="${books != null && !books.isEmpty()}">
    <p><strong>Книги:</strong></p>
    <div th:each="book : ${books}">
        <a th:if="${book.isExpired}" style="color:red"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
           th:href="@{/books/{id}(id=${book.id})}">book info</a>
        <a th:unless="${book.isExpired}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
           th:href="@{/books/{id}(id=${book.id})}">book info</a>
    </div>
</div>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<hr/>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Вернуться ко всем людям">
</form>
</body>
</html>