<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="title">Введите поисковой запрос: </label>
    <input type="text" name="title" id="title"/>
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <span>Книг не найдено</span>
    </div>
    <div th:each="book : ${books}">
        <p th:text="${book.title + ', ' + book.author + ', ' + book.year}"></p>
        <div th:if="${book.owner!=null}">
            <p th:text="${'Книга сейчас у: ' + book.owner.fullName}"></p>
        </div>
        <div th:if="${book.owner==null}">
            <p>Книга свободна</p>
        </div>
        <hr/>
    </div>
</div>
</body>
</html>