<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<form th:method="GET" th:action="@{/books/search}" th:object="${proxyBook}">
    <label for="title">Введите поисковой запрос: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <input type="submit" value="Искать!"/>
</form>
<div th:if="${searchAttemptTried}">
    <div th:if="${book!=null}">
        <p th:text="${book.title + ', ' + book.author + ', ' + book.year}"></p>
        <div th:if="${owner!=null}">
            <p th:text="${'Книга сейчас у: ' + owner.fullName}"></p>
        </div>
        <div th:if="${owner==null}">
            <p>Книга свободна</p>
        </div>
        <hr/>
    </div>
    <div th:if="${book==null}">
        <p>Книг не найдено</p>
    </div>
</div>
</body>
</html>